﻿@model ForeignWordsTrainer.ViewModels.DictionaryViewModel

@{
    ViewData["Title"] = "Dictionary";
}

<h1>My dictionary</h1>

<div class="container mt-4">

    <form method="post" asp-action="Search" asp-controller="Dictionary" novalidate>
        <div class="form-group">
            <label for="searchTerm">Search Term:</label>
            <input type="text" id="searchTerm" name="SearchTerm" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div>
        <h3>Word Information</h3>

        @if (Model.WordInformation.WordId != 0)
        {
            <p>@Model.WordInformation.Word - @Model.WordInformation.TranslUkr</p>

            <form method="post" asp-action="ProcessAddWordToUserDictionary" asp-controller="Dictionary">
                <input type="hidden" name="WordId" value="@Model.WordInformation.WordId" />
                <input type="hidden" name="Word" value="@Model.WordInformation.Word" />
                <input type="hidden" name="TranslUkr" value="@Model.WordInformation.TranslUkr" />
                <input type="hidden" name="TranslRus" value="@Model.WordInformation.TranslRus" />

                <button type="submit" class="btn btn-primary">Add to Dictionary</button>
            </form>
        }
        else
        {
            <button type="button" class="btn btn-primary" disabled>Add to Dictionary</button>
        }
    </div>

    @if (Model.LearnUser.Words != null && Model.LearnUser.Words.Any())
    {
        <p>Here are words from your dictionary. To delete word from your dictionary just click on it.</p>
        <div class="d-flex justify-content-left">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                @foreach (var element in Model.LearnUser.Words)
                {
                    <form method="post" asp-action="ProcessRemoveWordFromUserDictionary" asp-controller="Dictionary">
                        <input type="hidden" name="WordId" value="@element.WordId" />
                        <input type="hidden" name="Word" value="@element.Word" />
                        <input type="hidden" name="TranslUkr" value="@element.TranslUkr" />
                        <input type="hidden" name="TranslRus" value="@element.TranslRus" />

                        <button type="submit" class="btn btn-primary">@element.Word</button>
                    </form>
                }
            </div>
        </div>
    }
    else
    {
        <div>
            <p>Your dictionary is empty. Start adding words to learn!</p>
        </div>
    }

    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-lg btn-primary" asp-controller="TrainWord" asp-action="Train">Go to train page</a>
    </div>

</div>



