﻿@model ForeignWordsTrainer.ViewModels.TrainWordViewModel

@{
    ViewData["Title"] = "Train";
}

<h1>Word trainer page</h1>

<p>Pick words you want to train by clicking them.</p>

<form asp-controller="TrainWord" asp-action="AddWordsToDeck" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.LearnUser.Words.Count; i++)
            {
                var element = Model.LearnUser.Words[i];
                <tr>
                    <td>@element.Word</td>
                    <td>
                        <input type="hidden" name="SelectedWords[@i].WordId" value="@element.WordId" />
                        <input type="hidden" name="SelectedWords[@i].Word" value="@element.Word" />
                        <input type="hidden" name="SelectedWords[@i].TranslUkr" value="@element.TranslUkr" />
                        <input type="hidden" name="SelectedWords[@i].TranslRus" value="@element.TranslRus" />
                        <input type="checkbox" name="SelectedWords[@i].IsSelected" value="true" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Add Selected Words to Deck</button>
</form>

<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <form method="post" asp-action="TrainSelectedWords" asp-controller="TrainWord">
            <button type="submit" class="btn btn-lg btn-primary">Train Selected Words</button>
        </form>
        <form method="post" asp-action="TrainAllWords" asp-controller="TrainWord">
            <button type="submit" class="btn btn-lg btn-primary">Train All Words</button>
        </form>
    </div>
</div>





