﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to foreignWordsTrainer app!</h1>
    <h2> To start you learning new words, please, register or sign in. </h2>

    <a class="button btn btn-primary" asp-area="" asp-controller="Login" asp-action="Login">Get started!</a>
</div>
