﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Introduction</h3>
<p>This Privacy Policy outlines how ForeignWordsTrainer ("we", "our", or "us") collects, uses, and protects the information you provide when using the ForeignWordsTrainer application ("the Application").</p>

<h3>Information We Collect</h3>

<h4>Personal Information</h4>
<p>When you use the Application, we may collect personal information such as:</p>
<ul>
    <li>Name</li>
    <li>Email address</li>
    <li>User preferences and settings</li>
    <li>Any additional information you provide voluntarily</li>
</ul>

<h4>Usage Data</h4>
<p>We may also collect usage data, which may include:</p>
<ul>
    <li>IP address</li>
    <li>Device type and operating system</li>
    <li>Date and time of access</li>
    <li>Pages visited within the Application</li>
    <li>Interactions with the Application</li>
</ul>

<h3>How We Use Your Information</h3>
<p>We use the information collected for the following purposes:</p>
<ul>
    <li>To provide and maintain the Application</li>
    <li>To notify you about updates or changes</li>
    <li>To personalize your experience</li>
    <li>To improve the Application</li>
    <li>To monitor usage and prevent abuse</li>
</ul>

<h3>Data Security</h3>
<p>We take appropriate measures to ensure the security of your personal information. However, please be aware that no method of transmission over the internet or electronic storage is completely secure.</p>

<h3>Third-Party Services</h3>
<p>The Application may contain links to third-party websites or services. We are not responsible for the content or privacy practices of these third-party sites.</p>

<h3>Children's Privacy</h3>
<p>The Application is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children.</p>

<h3>Changes to this Privacy Policy</h3>
<p>We may update our Privacy Policy from time to time. Any changes will be posted on this page.</p>

<h3>Contact Us</h3>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at [your contact information].</p>
